//  Contact  //////////////////////////////////////

#contact {
	
	#page_side {
		font-size: 11px;

		& > * {
			width: 67.5%;
		}

		p {
			margin-bottom: 20px;
			padding-top: 10px;
			line-height: 1.6em;			
			border-top: 1px solid $color_border;
		}
		
		ul {
			margin-top: 25px;
										
			a {
				display: block;
				padding: 8px 0 9px;
				color: $color_text;
				border-top: 1px solid $color_border;								
			
				.raq {
					@include raquo(-1px, 16px, $color_text_secondary);
				}
				
				&:hover {
					color: $color_link_hover;
				
					.raq {
						color: $color_link_hover;
					}
				}
			}
		}
	}
	
	#page_body {
		font-size: 13px;	
		
		header {
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
		}
		
		&.thank_you {
			
			header {
				visibility: visible;
				position: relative;
			}
			
			p {
				width: 70%;
				font-size: 18px;
				margin-bottom: 0;
			}
		}
	}
	
	#contact_form {
		width: 94.4%;  // 76.3%
		
		li {
			overflow: hidden;
			border-top: 1px solid $color_border;
		
			&:hover, &.selected {
				border-color: $color_link_hover;
			}
		}
		
		label {
			float: left;
			display: block;
			width: 21.3%;
			padding-top: 8px;
		}
		
		input,
		textarea {
			width: 78.5%;
			padding: 8px 0 41px;			
			border: none;
			
			&:focus {
				border: none;
				box-shadow: none;
				outline: none;				
			}
		}
		
		textarea {
			width: 78%;
			height: 18px;
			@include transition($duration: .5s, $easing: ease-out);
			
			&:focus {
				height: 200px;
			}
		}
		
		#captcha_img {
			
			label {
				cursor: help;
			}
			
			input {
				width: 35%;
			}
		
			#captcha_phrase {
				float: right;	
				text-align: right;
			}
			
			img {
				margin-top: 3px;
				width: 85%;
			}
		}
	
		#contact_button {
			max-width: 240px;
		}
	}
}	