{% if product.previous_product != blank %}
<div id="previous_product" class="product_pag">
	<a href="{{ product.previous_product.url }}" title="View Previous Product"><h4>Previous</h4>{{ product.previous_product.name }}</a>
</div>
{% endif %}
<article id="product_id">
	<section id="product_images">
		<ul class="slides">
			{% for image in product.images %}
			<li data-thumb="{{ image | product_image_url | constrain: '100'}}"><img src="{{ image | product_image_url | constrain: '2000'}}" alt="Image of {{ product.name | escape }}" /></li>
			{% endfor %}
		</ul>
	</section>	
	<section id="product_info">
		<header>
			<h1>{{ product.name }}</h1>
			<h2>{{ product.default_price | money_with_sign }}</h2>
			{% if product.on_sale %} 
				<h3>On Sale!</h3>
			{% endif %}
			{% case product.status %}
      {% when 'sold-out' %}
  	  <h3>Sold Out!</h3>
      {% when 'coming-soon' %}
  	  <h3>Coming Soon!</h3>
      {% endcase %}
		</header>
		<nav id="detail_controller">
			<ul {% if product.description != blank & if theme.show_inventory_bars & if theme.show_share_buttons %}class="three_controllers"{% endif %}>
				{% if product.description != blank %}
				<li id="controller_description" data="product_description" class="selected"><a href="" title="">Details</a></li>
				{% endif %}
				{% if theme.show_inventory_bars %}
				<li id="controller_inventory" data="product_inventory"><a href="" title="">Inventory</a></li>
				{% endif %}
				{% if theme.show_share_buttons %}
				<li id="controller_share" data="product_share"><a href="" title="">Share</a></li>							
				{% endif %}
			</ul>
		</nav>
		<div id="product_detail">
			{% if product.description != blank %}
			<section id="product_description">
				{{ product.description | paragraphs }}
			</section>
			{% endif %}
			{% if theme.show_inventory_bars %}			
			<section id="product_inventory">
				<ul>
	      {% for option in product.options %}
	  		<li {% if option.sold_out %} class="sold_out"{% endif %}>
			  	<h3>{% if product.has_default_option %}{{ product.name }}{% else %}{{ option.name }}{% endif %}</h3>
			  	<div class="bar">
		  			<span class="bar fill" style="width:{{ option.inventory }}%;"></span>
			  	</div>
	  		</li>
	  		{% endfor %}
				</ul>
			</section>
			{% endif %} 			
			{% if theme.show_share_buttons %}
			<section id="product_share">
			  <ul>
			    <li id="social_facebook">
			      <h3>Facebook</h3>
			      <div class="social_action">
			        <iframe src="//www.facebook.com/plugins/like.php?href={{ page.full_url }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50%; height:20px;" allowTransparency="true"></iframe>
			      </div>
			    </li>
			    <li id="social_tweet">
			      <h3>Twitter</h3>
			      <div class="social_action">
			        <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ page.full_url }}" data-text="Check out {{ product.name }} from {{ store.name }}!" {% if theme.twitter_username != blank %}data-via="{{ theme.twitter_username | replace: "@", "" }}{% endif %}">Tweet</a>
			        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			      </div>
			    </li>
			    <li id="social_pinterest">
			      <h3>Pinterest</h3>
			      <div class="social_action">
			        <a href="http://pinterest.com/pin/create/button/?url={{ page.full_url }}&media={{ product.image.url }}&description={% if product.description != blank %}{{ product.description | escape | truncate: 490 }}{% endif %}" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It"></a>
			        <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
			      </div>
			    </li>
			    <li id="social_svpply">
			      <h3>Svpply</h3>
			      <div class="social_action">
							<script src="//svpply.com/api/all.js#xsvml=1" type="text/javascript"></script>
<sv:product-button type="boxed"></sv:product-button>
			      </div>
			    </li>			    
			  </ul>
			</section>
			{% endif %}
		</div>
		
		{% case product.status %}
      {% when 'active' %}
      <form method="post" accept-charset="utf8" action="/cart">
        <input name="_utf8" type="hidden" value="&#x2713;" /> 
        {% if product.has_default_option %}
          {{ product.option | hidden_option_input }}
          <button id="add_to_cart" class="add_to_cart button" type="submit" title="Add to cart"><span>Add to cart <em>{{ product.default_price | money_with_sign }}</em></span></button>         
        {% else %}
          <a id="options_button" class="add_to_cart button" title="Add to cart"><span>Select option <em>{{ product.default_price | money_with_sign }}</em></span></a>
					<ul id="options_menu">
          	{% for option in product.options_in_stock %}
						<li><a href="#" id="{{ option.id }}"><span>{{ option.name }}</span> <em {% if option.has_custom_price %}class="option_price"{% endif %}>{{ option.price | money_with_sign }}</em></a></li>
						{% endfor %}
          </ul>
          <input id="option" type="hidden" name="cart[add][id]" />
          <button id="product-addtocart" name="submit" type="submit" class="button" style="display:none">Buy Now</button>
        {% endif %}
      </form>
      {% when 'sold-out' %}
      	<a class="button add_to_cart sold_out" title="Sold out"><span>Sold Out <em>{{ product.default_price | money_with_sign }}</em></span></a>
      {% when 'coming-soon' %}
      	<a class="button add_to_cart coming_soon" title="Coming soon"><span>Coming Soon <em>{{ product.default_price | money_with_sign }}</em></span></a>      	
    {% endcase %}		
	</section>					
</article>

{% if product.next_product != blank %}
<div id="next_product" class="product_pag">
	<a href="{{ product.next_product.url }}" title="View Next Product"><h4>Next</h4>{{ product.next_product.name }}</a>
</div>
{% endif %}